.image_depot {
  width: 90%;
  height: 90%;
  margin-left: 20px;
  margin-top: 15px;
}

.image_etapes {
  width: 80%;
  height: 80%;
}
#conteneur_image_etapes {
  display: flex;
  justify-content: center;
}

#slider_depot {
  position: relative;
}
#contenu_slider_depot {
  top: 20%;
  right: 40%;
  position: absolute;
}

.input_text {
  width: 13vw;
  height: 2vw;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 1vh;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  border-color: rgb(63, 167, 90);
  box-shadow: 0 0 8px 0 rgb(63, 167, 90);
}

.input_message {
  position: absolute;
  width: 30vw;
  height: 8vw;
  margin-bottom: 10%;
}

.bouton_envoyer {
  position: absolute;
  border-radius: 4px;
  margin-top: 7vw;
  margin-left: 85%;
  width: 8vw;
  height: 2vw;
  background-color: rgb(63, 167, 90);
  border: none;
  font-size: calc(0.1rem + 0.7vw);
  transition: 0.3s;
}

.bouton_envoyer:hover {
  background-color: rgb(27, 97, 27);
}

textarea {
  max-width: 330%;
  max-height: 60%;
}

textarea {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 1px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

textarea:focus {
  border-color: rgb(63, 167, 90);
  box-shadow: 0 0 8px 0 rgb(63, 167, 90);
}
