nav {
    height : 50px;
    background : linear-gradient(45deg, rgb(156,14,156,midnightblue));
}

.liste {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156,14,156,midnightblue));
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.items {

    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.btn{
    display: none;
}