.image_footer {
  width: 98%;
  height: 98%;
  margin-left: 20px;
}

.instagram_logo {
  width: 70px;
  height: 70px;
}

.linkedin_logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

#logos_reseaux {
  position: absolute;
  bottom: 45px;
  right: 120px;
}

#texte_footer {
  position: absolute;
  bottom: 55px;
  right: 900px;
}

.texte_footer {
  color: white;
}

#slider_footer {
  position: relative;
}
