.instagram_logo {
  width: 4vw;
}

.linkedin_logo {
  width: 4vw;
  margin-left: 1vw;
}

#logos_reseaux {
  position: absolute;
  bottom: 18%;
  right: 5%;
}

#texte_footer {
  position: absolute;
  font-size: calc(0.1rem + 0.7vw);
  bottom: 21%;
  right: 46%;
}

.texte_footer {
  color: white;
}

#slider_footer {
  position: relative;
  margin-top: 2%;
}
