.image_accueil {
  width: 98%;
  height: 98%;
  margin-left: 20px;
}

.image_valeurs {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

.image_confiance {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

.image_chiffres_clés {
  margin-top: 50px;
  margin-left: 20px;

  width: 98%;
  height: 98%;
}

.image_ligne_verte {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

#slider_accueil {
  margin: 10px;
  position: relative;
}

#contenu_slider_accueil {
  position: absolute;
  margin-left: 1180px;
  margin-top: -280px;
}

.bouton_accueil {
  width: 270px;
  height: 55px;
  background-color: white;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  transition-property: background-color, border-color, color, box-shadow, filter;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 14px 18px;
}

.bouton_accueil:hover {
  color: #fff;
  background-color: rgb(50, 70, 93);
}
