.image_accueil {
  width: 98%;
  height: 98%;
  margin-left: 20px;
}

.image_valeurs {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

.image_confiance {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

.image_chiffres_clés {
  margin-top: 50px;
  margin-left: 20px;

  width: 98%;
  height: 98%;
}

.image_ligne_verte {
  margin-top: 20px;
  margin-left: 20px;
  width: 98%;
  height: 98%;
}

#slider_accueil {
  margin: 1%;
  margin-right: 1.5vw;
  position: relative;
}

#contenu_slider_accueil {
  position: absolute;
  margin-left: 62%;
  margin-top: -17%;
}

#conteneur_principal {
  text-align: center;
}

#contenu_texte_intro {
  float: center;
}

#conteneur_chiffres_clés {
  display: flex;
}
.contenu_stats {
  flex-grow: 1;
}

#texte_chiffres_clés {
  font-weight: 500;
}

.texte_grand_vert {
  font-size: 400%;
  color: rgb(63, 167, 90);
  font-weight: 700;
}

.texte_petit_annexe {
  font-weight: 500;
}

.bouton_accueil {
  width: 15vw;
  height: 3vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: calc(0.1rem + 0.7vw);
  line-height: 1;
  border-radius: 5vh;
  transition-duration: 0.3s;
  transition-property: background-color, border-color, color, box-shadow, filter;
  border: 1px solid ;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.bouton_accueil:hover {
  color: #fff;
  background-color: rgb(50, 70, 93);
}

@media screen and (max-width: 570px) {
  #slider_accueil {
    margin-top: 330px;
  }
}
